
.homepageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #7b0303, #000);
    margin: 0;
    padding: 0;
  }
  
  .textSection {
    margin-top: -190px;
    margin-left: 250px;
    flex: 1;
    padding-right: 20px;
    color: white;
  }
  .textSection h2 {
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .textSection p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .imageSection {
    margin-top: -100px;
    margin-right: 300px;
    flex: 1;
    text-align: right;
  }
  
  .imageSection img {
    max-width: 100%;
    height: 450px;
    width: 225px;
  }

  .contactButton {
    padding: 8px 16px;
    border: 1px solid white; 
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .contactButton:hover {
    background-color: white;
    color: #000;
  }
